.background_img{
	background: url(../images/banner_eicena.png) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: auto;
}

.navbar-light .navbar-nav a{
	color: #fff;
}

.landing_text{
	height: 900px;
	width: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

